<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers - home</title>
</head>
<body>
    <h1>Home</h1>

    <table>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Image path</th>
            <th>Price</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>£{{row[3]}}</td>
        </td>
        {% endfor %}
</body>
</html>